// 1. Header
// 2. Footer
// 3. Testimonial

@import "color";
@font-face {
  font-family: 'UTM AVO';
  src: url(../font/UTM-AVO/UTM-Avo.ttf) format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*, *:before, *:after {
  box-sizing: border-box; 
  margin: 0; 
}
html, body {
  &:not(.blog-category, .blog-detail) {
    overflow-x: hidden;
  }
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
}
body {
  font-size: 14px !important;
  color: $gray;
  line-height: 1.7 !important;
  font-family: 'Open Sans';
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.section {
  margin: 100px 0;
}  
.section-title{
  margin-bottom: 80px;
  text-align: center;
  color: $dark-green;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
%uppercase {
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
button, .uppercase {
  @extend %uppercase;
}
button {
  border: none;
  background: none;
}
button:focus {
  outline: none;
  box-shadow: none;
}
a, a:hover {
  color: $gray;
  text-decoration: none;
}
.header-blank {
  display: block; 
  visibility: hidden; 
  pointer-events: none;
}
.highlight {
  color: $theme-color;
}
.tab {
  margin-left: .5rem;
}
.vertical-center {
  margin: auto 0 !important;
}
input {
  &:focus {
    box-shadow: none;
    outline: none;
  }
}
.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  // color: #cc0000;
}
@mixin double-transition($property1, $property2) {
  -webkit-transition: $property1, $property2;
  -moz-transition: $property1, $property2;
  -o-transition: $property1, $property2;
  transition: $property1, $property2;
}
@mixin box-shadow($property) {
  -webkit-box-shadow: $property;
  -moz-box-shadow: $property;
  box-shadow: $property;
}
@mixin triangle($width, $color) {
  border: {
    left: $width solid transparent;
    right: $width solid transparent;
    bottom: $width solid $color;
  }
} 
/* //////////////////// 1.HEADER ///////////////////// */
// Main Header
.main-header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  background-color: #fff;
  .logo img{
    width: 100%;
    padding: 30px 0;
  }

  .title {
    text-transform: uppercase;
    font-weight: bold;
    a {
      &:hover {
        background-color: $lightest-gray;
        border-bottom: $theme-color 5px solid;
      }
      li {
        padding: 30px 0;
      }
    }
  }
}
// Shrink Header
.main-header-after {
  padding-right: 30px;
  display: none; 
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  .toggler {
    display: none;
    float: right;
    padding: 15px;
  }
  .main-header-after-list {
    width: 100%;
    overflow: hidden;
    ul {
      padding: 0 20px 20px;
      a {
        color: #fff !important;
        &:hover {
        color: $theme-color !important;
        }
        li {
          background-color: rgba(0, 0, 0, 0.8);
          border-top: .3px solid rgb(68,68,68);
          border-bottom: .3px solid rgb(68,68,68);
          padding: 15px 0;
          padding-left: 10px;
          font-size: 12px !important;
        }
      }
    }
  }
}
// Menu Icon
#menu-icon {
  display: inline-block;
  cursor: pointer;
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: $theme-color;
    transition: 0.4s;
  }
  .bar2 {
    margin: 6px 0;
  }
  /* Rotate first bar */
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
@media only screen and (max-width: 991px) { /* skrink menu */
  .main-header {
    display: none !important;
  }
  .main-header-after {
    display: block !important;
    .main-header-after-list {
      display: none;
    }
  }
  .toggler {
    display: block !important;
  }
  .opened {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  .header-blank {
    margin-top: 0 !important;
  }
}
// Blog Header
.blog-header {
  .navbar1 {  
    padding: 10px 0;
    padding-left: 30px;
    .login {
      position: relative;
      .account-icon, .close-icon {
        font-size: 1.35rem;
      }
      .close-icon {
        display: none;
      }
      &:hover {
        .icon {
          color: $theme-color;
          cursor: pointer;
        }
      }
      .login-modal {
        @include box-shadow( 0px 0px 20px 0px rgba(0,0,0,0.5));
        position: absolute;
        display: none;
        margin-top: 7px;
        z-index: 999;
        padding: 20px;
        background-color: #fff;
        box-shadow: 5px $light-gray;
        &::before {
          content: '';
          @include triangle(10px, white);
          position: absolute;
          top: -10px;
          left: 5px;
        }
        label {
          font-weight: bolder;
          margin-bottom: 5px;
        }
        input:not(#remember) {
          width: 200px;
          border: solid 1px;
          border-radius: 20px;
          border-color: $light-gray;
          padding: 7px 15px;
          &:focus {
            border-color: $gray;
            outline: 0;
          }
        }
        button {
          border-radius: 20px;
          border: none;
          background-color: $theme-color;
          color: white;
          padding: 5px 15px;
          &:hover {
            background-color: $dark-green;
          }
        }
        .forget-pw {
          span {
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .search-bar {
      .icon {
        position: absolute;
        left: 10px;
        color: $theme-color;
        font-size: 1.25rem;
      }
      .search-input {
        input {
          padding: 7px 0;
          padding-left: 40px;
          border: $light-gray 1px solid;
          width: 100%;
        }
        button {
          height: 39px;
          position: absolute;
          padding: 0 10px;
          right: 0;
          border: none;
          background-color: $theme-color;
          color: #fff;
          text-transform: capitalize !important;
          &:hover {
            background-color: $dark-green;
          }
        }
      }
    }
    .logo {
      margin-top: 10px;
      img {
        width: 100%;
      }
    }
  }
  .navbar2 {
    @extend %uppercase;
    z-index: 999;
    background-color: $theme-color;
    color: #fff;
    padding-right: 20px;
    .title {
      li {
        position: relative;
        padding: 20px 20px 10px;
        text-align: center;
        &:not(.dropdown-toggler) {
          overflow-y: hidden;
        }
        .triangle {
          opacity: 0;
          position: absolute; 
          text-align: center;
          left: 50%;
          bottom: -15px;
          transform: translateX(-50%);
          @include triangle(14px, white );
          @include double-transition(bottom 0.3s ease-in, opacity 0s);
        } 
        &:hover {
          background-color: $dark-green;
          .triangle {
            opacity: 1;
            bottom: -5px;
          }
        }
      }
    }
    .dropdown-toggler {
      h5 {
        display: inline-block;
      }
      ul {
        display: none;
        position: absolute;
        background: white;
        width: 70vw;
        left: 0;
        top: 100%;
        z-index: 999;
        a {
          float: left;
          width: 25%;
          li {
            padding: 20px;
            &:hover {
              border-bottom: 4px solid $dark-green;
              padding: 20px 20px 16px;
            }
          }
        }
        @media screen and (max-width: 1200px) {
          width: 80vw;
        }
        @media screen and (max-width: 1050px) {
          width: 85vw;
        }
      }
      &:hover {
        background-color: white;
        ul {
          display: block;
          li {
            background-color: white;
            color: $dark-green;
          }
        }
      }
    }
    .social-icon-wrap {
      height: 100%;
      .icon {
        margin: auto 0;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  @media screen and (min-width: 1500px) {
    max-width: 1140px;
    margin: 0 auto;
  }
  @media screen and (max-width: 1200px) {
    .navbar2 {
      .title {
        li {
          padding: 20px 12px 10px;
        }
      }
    }
  }
}
// Side Header 
.overlay {
  position: absolute;
  display: none;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10000px;
  background-color: rgba(0, 0, 0, 0.5);
}
.blog-header-after {
  background: rgba(0, 0, 0, 0.9);
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding: 15px 0;
  .header-toggler {
    div {
      width: 30px;
      height: 3px;
      background-color: $light-gray;
      margin: 6px 0;
    }
    &:hover {
      div {
        background-color: $lightest-gray;
      }
    }
  }
  .logo {
    img {
      // height: 100%;
      width: 80%;
    }
  }
  .search-bar-toggler {
    text-align: end;
    button {
      font-size: 1.25rem;
      color: $light-gray;
      &:hover {
        color: $lightest-gray;
      }
    }
    .close-search {
      display: none;
    }
  }
  .search-bar-modal {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background: white;
    padding: 20px 0;
    .search-bar-wrap {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: -55%;
        right: -3%;
        @include triangle(30px, white)
      }
      input {
        width: 100%;
        height: 60px;
        border: $light-gray 1px solid;
        padding: 7px;
        padding-left: 20px;
        border-radius: 40px;
      }
      button {
        position: absolute;
        font-size: 1.25rem;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: $gray;
        transition: all 0.3s;   
        transform-origin: 80% 30%;     
        &:hover {
          transform: rotate(90deg);
        }
      }
    }
  }
  .menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    overflow: scroll;
    background: rgba(0, 0, 0, 0.8);
    padding: 40px 0 60px;
    .logo {
      margin-bottom: 60px;
      padding-left: 30px;
      img {
        height: 100%;
      }
    }
    .social-icon-wrap {
      padding-left: 30px;
      margin-bottom: 30px;
      img {
        width: 40px;
        height: 40px;
      }
    }
    .title, .bonus-title {
      .dropdown {
        ul {
          display: none;
          padding-left: 50px;
          li {
            text-transform: uppercase;
            color: $light-gray;
            &:hover {
              color: $lightest-gray;
            }
          }
        }
        .dropdown-toggler-icon {
          color: $light-gray;
          &:hover {
            color: $lightest-gray;
          }
        }
      }
      li {
        padding: 20px 0;
        &:not(:first-child) {
          border-top: 1px $gray solid;
        }
        &:hover {
          a {
            h5 {
              color: $lightest-gray;
            }
          }
        }
        a {
          h5 {
            padding-left: 30px;
            text-transform: uppercase;
            color: $light-gray;
          }
        }
      }
    }
    .title {
      margin-bottom: 40px;
    }
  }
  .closer {
    display: none;
    position: absolute;
    left: 50%;
    top: 90vh;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%);
    z-index: 999;
    div {
      font-size: 2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
@media screen and (max-width: 992px) {
  .blog-header {
    display: none;
  }
  .blog-header-after {
    display: block !important;
  }
}
/* //////////////////// 2.FOOTER ///////////////////// */
.footer {
  color: #fff;
  .contact-wrap {
    position: relative;
    background: url('../img/landingpage/contact.jpg') no-repeat;
    background-position: 25% 50% ;
    background-size: 100% 200%;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(32,64,36,0.6);
    }
    .contact-content {
      padding: 30px 0;
    }
    .left, .right {
      z-index: 9;
    }
    .left {
      h1 {
        line-height: 1.5em;
        font-size: 2.5em;
      }
    }
    .right {
      margin: auto 0;
      button {
        border: $dark-green 4px solid;
        background: $lightest-gray;
        color: $theme-color;
        border-radius: 3px;
        padding: 2px 20px;
        font-size: 1.5em;
        &:hover {
          color: $dark-green;
        }
      }
      .hotline-info {
        margin-top: 15px;
        padding-inline-start: 5px;
        font-size: 2em;
      }
    }
  }
  .conclusion {
    background: $dark-green;
    .footer-after {
      display: none;
      .logo {
        margin-bottom: 30px;
      }
      .conlusion-contact {
        position: relative;
        &::before {
          content: '';
          height: 4px;
          background-color: #fff;
          position: absolute;
          left: 0;
          width: 25%;
          transform: translateY(300%);
        }
        &::after {
          content: '';
          height: 4px;
          background-color: #fff;
          position: absolute;
          right: 0;
          top: 25%;
          width: 25%;
          transform: translateY(-700%);
        }
        img {
          width: 60%;
          height: 100%;
        }
      }
    }
    table{
      .logo {
        width: 100%;
      }
      .conlusion-contact {
        position: relative;
        text-align: center;
        &::before {
          content: '';
          height: 4px;
          background-color: #fff;
          position: absolute;
          left: 0;
          width: 25%;
          transform: translateY(300%);
        }
        &::after {
          content: '';
          height: 4px;
          background-color: #fff;
          position: absolute;
          right: 0;
          width: 25%;
          transform: translateY(-700%);
        }
      }
      td {
        width: 50%;
        img {
          height: 60%;
        }
      }
    }
  } 
  @media screen and (max-width: 768px) {
    .information {
      display: none;
    }
    .footer-after {
      display: block !important;
    }
  }
}

/* //////////////////// 3. TESTIMONIAL ///////////////////// */
.testimonial {
  .item {
    padding: 70px 0;
    .test {
      overflow: visible;
    }
    .content {
      text-align: center;
      font-weight: bold;
      %small-ava {
        border-radius: 50%;
        height: 70px;
        width: 70px !important;   
      }
      .section-title {
        font-size: 30px;
        font-weight: bolder;
        margin-bottom: 40px;
      }
      .small-ava {
        @extend %small-ava;
        img {
          @extend %small-ava;
          background-color: $theme-color;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .feedback {
        padding: 30px 100px 10px;
        p {
          background: {
            image: url('../img/comma.png');
            repeat:  no-repeat;
            color: $lightest-gray;
            position: 20% 25%;
            size: 25% 35%;
          }        
          padding: 30px 40px;
        }
      }
    }
    .feedback-person {
      position: relative;
      &::before {
        content: 'Rating \A 4.95';
        white-space: pre;
        line-height: 2rem;
        text-align: center;
        font-size: 1.5rem;
        padding: 30px 0;
        color: #fff;
        position: absolute;
        width: 25%;
        height: 30%;
        right: 5%;
        top: -5%;
        background: {
          image: url('../img/rating-bg.png');
          repeat: no-repeat;
          size: contain;
        }
        z-index: 9;
      }
      img {
        display: block;
        position: absolute;
        background-color: $theme-color;
        border-top-left-radius: 30%;
        // width: 80% !important;
        bottom: -35%;
      }
      .rating-star {
        display: none;
      }
    }
  }
}
@media only screen and (max-width: 992px) { 
  .testimonial {
    .item {
      padding-bottom: 0;
      .feedback {
        p {
          background: {
            position: 20% 25%;
            size: 20% 60% !important;
          }   
        }
      }
      .feedback-person {
        position: relative;
        img {
          display: none;
        }
        .rating-star {
          display: block;
        }
        &::before {
          display: none;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) { 
  .testimonial {
    .item {
      .feedback {
        p {
          background: {
            position: 20% 25%;
            size: 20% 40% !important;
          }   
        }
      }
    }
  }
  .footer {
    .contact-wrap {
      .contact-content {
        .left {
          text-align: center;
        }
        .right {
          text-align: center;
          .hotline-info {
            display: inline;
            div {
              display: inline-block;
              :first-child {
                margin-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}

